
h1 {
  color: #330066;
}

h2 {
  margin-top: 2em;
  border-top: 1px solid #AAAAAA;
  padding-top: 0.5em;
}


#uvod {
  padding: 2em;
  background-color: rgba(51, 0, 102, 0.1);
}

.slika {
  font-size: 0.9em;
  width: 40%;
  text-align: left;
  float: right;
  margin-left: 2em;
}
.slika img {
  width: 100%;
  height: auto;
}
.slika p:last-child {
  font-size: 0.8em;
  margin-top: 0.5em;
}
.slika img {
  border-radius: 50%;
}
